@font-face {
  font-family: "Helvetica Black";
  src: url("https://cdn.glitch.com/de637ebd-bf77-4418-9b4a-48177fd57198%2FNeueHaasGrotDisp-95Black.otf?v=1590867947212");
}

body {
  font-family: Courier;
  font-weight: Medium;
  line-height: 120%;
  font-size: 10pt;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .hide {
    display: grid;
  }
}
.placeholder {
  width:50%;
  grid-column: span 1;
  background-color:white;
}
.logo {
  box-sizing: border-box;
  grid-column: span 1;
  padding: 25px;
  color:white;
  text-align: center;
  font-family: "Helvetica Black";
  font-size: 20pt;
  background-color: #896b1d;
  width:auto;
  height:auto;
  border-left:60px solid white;
  border-right:60px solid white;
}

header {
  grid-colu  height:60: span 3;
  height: 60px;
  width:100%;
}

main {
  flex: 1;
  padding: 0px;
}

div {
  color: Black;
  padding: 15px;
  overflow:auto;
}

h1 {
  color: Black;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: Courier;
}
.real {
  display: none;
  margin-bottom: 0px;
  width: 40%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
  z-index: 2;
}

.blank {
  display: none;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover .real {
  display: inline;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover .blank {
  display: none;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover {
  color: grey;
}

div:hover h1 {
  color: grey;
}
h1:hover { 
color:red;
}


@font-face {
  font-family: "Helvetica Black";
  src: url("https://cdn.glitch.com/de637ebd-bf77-4418-9b4a-48177fd57198%2FNeueHaasGrotDisp-95Black.otf?v=1590867947212");
}
body {
  font-family: Courier;
  font-weight: Medium;
  line-height: 120%;
  font-size: 10pt;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .hide {
    display: grid;
  }
}
header {
  font-family: "Helvetica Black";
  color: #896b1d;
  font-size:50pt;
  grid-column: span 3;
  height: 200px;
  padding: 15px;
  text-align: center;
}

main {
  flex: 1;
  padding: 0px;
}

div {
  color: Black;
  padding: 15px;
}

h1 {
  color: Black;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: Courier;
}
.real {
  display: none;
  margin-bottom: 0px;
  width: 40%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
  z-index: 2;
}

.blank {
  display: inline;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover .real {
  display: inline;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover .blank {
  display: none;
  margin-bottom: 0px;
  width: 50%;
  height: auto;
  border: 1px solid black;
  padding: 30px;
}

div:hover {
  color: grey;
}
h1:hover {
  color: red;
}
